body {
  background: url("https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475659_960_720.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.container {
  margin: 60px auto;
  background-color: #031818;
  width: 400px;
  height: 170px;
  padding: 30px;
  color: #01d2d6;
}

.business-card img {
  float: left;
  width: 100px;
}

.username,
.email,
.download-cv {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.username span {
  border-bottom: 2px solid #729998;
  padding-bottom: 4px;
}

.email {
  font-size: 15px;
  color: #01d2d6;
}

.download-cv a {
  color: #e52739;
  font-size: 14px;
  text-decoration: none;
}

a {
  color: #01d2d6;
  text-decoration: none;
}

a:hover {
  color: #01d2d6;
}
